---
import 'animate.css'
import MainLayout from "../layouts/MainLayout.astro";
import Dynamicwaves from '../components/Dynamicwaves.astro';
import Artist from "../components/Artist.astro";
import Form from "../components/Form.astro";

---
<MainLayout title="Titel">

	<div class="flex flex-col items-center justify-center relative font-heebo">
		<img class="w-full h-full object-cover" src="openhellfiller.svg" alt="">
		<img class="absolute inset-0 w-1/2 sm:max-w-[40%] md:max-w-[80%] mx-auto my-auto" src="heroimage.svg" alt="">
		<div class="flex flex-col items-center justify-center gap-2 mx-auto w-full px-12 md:px-25">
			<p class="px-8 py-2 tracking-[6%] text-black font-bold text-[16px] md:text-[32px] bg-[#E3F2C4] w-full text-center">2 DAYS OF METAL ON THE WAVES</p>
			<a class="px-8 py-2 tracking-[6%] text-[#279BA8] font-bold text-[16px] md:text-[32px] border-2 border-[#279BA8] w-full text-center hover:bg-[#279BA8] hover:text-black duration-300" href="/tickets">GET YOUR TICKETS</a>
			<a class="px-8 py-2 tracking-[6%] text-[#279BA8] font-bold text-[16px] md:text-[32px] border-2 border-[#279BA8] w-full text-center hover:bg-[#279BA8] hover:text-black duration-300" href="">EXPLORE THE MUSIC</a>
		</div>
	</div>


	<div class="mt-5 mb-5">

	</div>

	<div class="flex items-center justify-center mx-12 md:mx-50 my-12 md:my-16">
		<img class="hidden lg:block" src="bone1.svg" alt="">
		<p class="text-[16px] md:text-[24px] tracking-[6%] text-[#E3F2C4] font-heebo md:p-12">Det ottende COPENHELL Metal Cruise finder sted på det velkendte skib  Nordic Crown i en flot og fornyet udgave med en ny ejer bag roret.  Sejlturen bliver som sædvanlig fyldt med underholdning af højeste karat  og suveræn COPENHELL-stemning.</p>
		<img class="hidden lg:block" src="bone2.svg" alt="">
	</div>
	<div class="flex items-center justify-center mb-16 hellyeah"><img src="hellyeah.svg" alt=""></div>

	<Dynamicwaves></Dynamicwaves>

	<div id="artistsection">
	<Artist></Artist>
</div>

<div>
	<Form></Form>
</div>
</MainLayout> 

<script>
	import { inView } from "motion";


const hellyeah = document.querySelector(".hellyeah");

	inView(hellyeah, (element) => {
  // When the element comes into view, add the "slideInRight" animation
  element.classList.add(
    "animate__animated",
    "animate__fadeInUp",
    "animate__delay-0.4s"
  );

  // When the element leaves the view, we add a "fadeOut" animation
  return () => {
    element.classList.remove(
      "animate__fadeInUp", 
      "animate__delay-0.5s"
    );
    element.classList.add(
      "animate__animated",
      "animate__fadeInDown",
      "animate__delay-0.5s"
    );
  };
});

</script>