---
---
<section>
<h1 class="text-[36px] text-[#E3F2C4] font-bold my-3 text-center font-grenze md:text-[64px]">Lær Artisterne at Kende</h1>

<div class="grid grid-cols-2 md:grid-cols-3 md:gap-3 md:mx-3">

<!--Afsky-->
<div class="relative">
    <a href="/Afsky">
        <img src="afskycard.svg" alt="afsky" class="w-full h-auto filter grayscale-[80%] saturate-20 brightness-50 transition duration-300 hover:grayscale-0 hover:saturate-100 hover:brightness-100" />
        <img src="afskylogo.svg" alt="afsky" class="pointer-events-none absolute inset-0 m-auto max-w-full max-h-full" style="object-fit: contain;" />
    </a>
</div>

<!--Castle Rat-->
<div class="relative">
    <a href="/castlerat">
        <img src="castleratcard.svg" alt="castlerat" class="w-full h-auto filter grayscale-[80%] saturate-20 brightness-50 transition duration-300 hover:grayscale-0 hover:saturate-100 hover:brightness-100" />
        <img src="castleratlogo.svg" alt="castlerat" class="pointer-events-none absolute inset-0 m-auto max-w-full max-h-full" style="object-fit: contain;" />
    </a>
</div>

<!--LLNN-->
<div class="relative">
    <a href="/llnn">
        <img src="llnncard.svg" alt="llnn" class="w-full h-auto filter grayscale-[80%] saturate-20 brightness-50 transition duration-300 hover:grayscale-0 hover:saturate-100 hover:brightness-100" />
        <img src="llnnlogo.svg" alt="llnn" class="pointer-events-none absolute inset-0 m-auto max-w-full max-h-full" style="object-fit: contain;" />
    </a>
</div>

<!--Guttoral Disgorge-->
<div class="relative">
    <a href="/guttoraldisgorge">
        <img src="guttoraldisgorgecard.svg" alt="guttoral disgorge" class="w-full h-auto filter grayscale-[80%] saturate-20 brightness-50 transition duration-300 hover:grayscale-0 hover:saturate-100 hover:brightness-100" />
        <img src="guttoraldisgorgelogo.svg" alt="guttoral disgorge" class="pointer-events-none absolute inset-0 m-auto max-w-full max-h-full" style="object-fit: contain;" />
    </a>
</div>
<!--Handgemeng-->
<div class="relative">
    <a href="/handgemeng">
        <img src="handgemengcard.svg" alt="handgemeng" class="w-full h-auto filter grayscale-[80%] saturate-20 brightness-50 transition duration-300 hover:grayscale-0 hover:saturate-100 hover:brightness-100" />
        <img src="handgemenglogo.svg" alt="handgemeng" class="pointer-events-none absolute inset-0 m-auto max-w-full max-h-full" style="object-fit: contain;" />
    </a>
</div>
<!--Openhell-->
<div class="relative">
    <a href="/openhell">
        <img src="openhellcard.svg" alt="openhell" class="w-full h-auto filter grayscale-[80%] saturate-20 brightness-50 transition duration-300 hover:grayscale-0 hover:saturate-100 hover:brightness-100" />
        <img src="openhelllogo.svg" alt="openhell" class="pointer-events-none absolute inset-0 m-auto max-w-full max-h-full" style="object-fit: contain;" />
    </a>
</div>
</div>
</section>
