---
---
<section>
    <div class="flex flex-col items-center justify-center text-[#E3F2C4]">
        <h1 class="text-[36px] md:text-[64px] font-bold font-grenze">Hvad kan du finde om bord?</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 mx-4 md:mx-16 my-8">
        <div class="border border-[#E3F2C4] px-5 py-5 font-heebo">
            <h2 class="pb-5 text-[24px] font-bold">Kahytter</h2>
            <p class="pb-5 text-[16px]">Vælg mellem mange forskellige typer af kahytter, så du kan være sikker på at finde en kahyt, der passer til dit behov.</p>
        </div>
        <div class="border border-[#E3F2C4] px-5 py-5 font-heebo">
            <h2 class="pb-5 text-[24px] font-bold">Restauranter</h2>
            <p class="pb-5 text-[16px]">Det alsidige udvalg af spisesteder er tilpasset selv de mest krænse smaglsøg, og du finder med garanti et sted, der falder i din smag.</p>
        </div>
        <div class="border border-[#E3F2C4] px-5 py-5 font-heebo">
            <h2 class="pb-5 text-[24px] font-bold">Taxfree shopping on board</h2>
            <p class="pb-5 text-[16px]">Smut forbi Sea Shop på din rejse med Go Nordic Cruiseline. Her sparer du mindst 20%. på alt fra parfumer og tøj til interiør og drikkevarer - året rundt!</p>
        </div>
    </div>    
        </div>

</section>