---
---
<section class="grid grid-cols-2">
    <div class="grid grid-cols-2">
        <img src="logo.svg" alt="logo">
        <h2>24 - 26 Oktober</h2>
    </div>
    <div class="flex justify-end items-center relative">
        <a href="#"><img src="burger.svg" alt="menu">
        </a>
    </div>
</section>
