---
---
<section class="grid grid-cols-2 sticky top-0 z-1000 md:m-8 m-4">
    <div class="grid grid-cols-2">
        <img src="logo.svg" alt="logo">
        <h2 class="md:text-[32px] text-[16px] px-8 font-pirata text-[#E3F2C4]">24 - 26 Oktober</h2>
    </div>
    <div class="flex justify-end items-center relative">
        <a href="#"><img class="w-10 md:w-15" src="burger.svg" alt="menu">
        </a>
    </div>
</section>
